<md-toolbar color="primary">
  <span id="date-and-time"></span>
</md-toolbar>

<md-grid-list cols="4" gutterSize="5">
  <md-grid-tile>
    <app-news></app-news>
  </md-grid-tile>
  <md-grid-tile>
    <md-card></md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card></md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card></md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card></md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card></md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card></md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card></md-card>
  </md-grid-tile>
</md-grid-list>
